body {
    background-color: #DAE9E4;
} 

nav h1{
    font-family: 'Merriweather', serif;
    border-bottom: solid;
    font-weight: bold;
    color:#3C2E3D;
    padding-left: 30px;
    width: 35%;
    margin: calc(40%/20);
    padding: calc(40%/20);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.post {
    position: relative;
    width: 25%;
    height: 40%;
    margin: calc(40%/20);
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 20%;
    visibility: hidden;
    opacity: 0;
}

.post:hover img{
    filter: brightness(30%);
    transition: 0.2s;
}

.post:hover .img-text{
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}





.footer {
    font-family: 'Quicksand', sans-serif;
}

.footer ul li p {
    margin-block-start: 0;
    margin-block-end: 0;
}
